.input__box {
  display: flex;
  padding: 15px 16px;
  gap: 16px;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid var(--natural-1100, #c1c0c6);
  background: var(--natural-white-100, #fff);
}

