.input__password{
    display: flex;
    padding: 15px 16px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #c1c0c6;
    background: #fff;
}
.button__password{
    border: none;
    background-color: transparent;
}