.button {
  display: flex;
  justify-content: space-evenly;
  gap: 8px;
  border-radius: 160px;
  border: 2px solid #302a3e;
  padding: 16px 24px;
  color: #302a3e;
  font-family: Comfortaa;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  background-color: transparent;
}
.blue {
  background: #2188f6;
  color: #ffffff;
  border: 2px solid #2188f6;
}
.black {
  background: #302a3e;
  color: #ffffff;
}
