.button {
  background-color: transparent;
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 160px;
  border: 2px solid #302a3e;
  font-family: Comfortaa;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}
.blue {
  padding: 22px 32px;
  background: #2188f6;
  color: #fff;
  font-size: 16px;
  border: none;
}
.enter {
  padding: 22px 32px;
  font-size: 16px;
}
.black {
  background: #302a3e;
  color: #ffffff;
}
