.input__castom {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid #302a3e;
  background:  #fff;
  width: 634px;
  box-sizing: border-box;
}
.input__castom__grey {
  display: flex;
  padding: 8px 16px;
  flex-direction: column;
  align-self: stretch;
  border-radius: 16px;
  border: 1px solid  #c1c0c6;
  background:  #fff;
  width: 634px;
  box-sizing: border-box;
}
.placeholder {
  color: rgba(48, 42, 62, 0.6);
  font-family: Comfortaa;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px; /* 140% */
}
.input {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 128.571% */
}
