.smart__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  width: 528px;
}
.smart__title{
  color: var(--natural-black-100, #302A3E);
  font-family: Comfortaa;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  margin-bottom: 24px
}
.smart__text{
  color: var(--natural-black-80, rgba(48, 42, 62, 0.80));
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  width: 410px;
  margin-bottom: 56px;
}
