.knowledge__icon {
    position: absolute;
    right: 0px;
    top: 0px;
    }
.cross__svg {
    position: absolute;
    top: 30px;
    right: 40px;
}
.arrow__svg {
    padding-left: 40px;
}
.YouLIkeitSvg {
    width: 380px;
    height: 372px;
}