.header {
  margin-top: 32px;
  margin-bottom: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: calc(50% - 762px);
  padding-right: calc(50% - 762px);
  align-items: stretch;
  position: relative;
}
.header__button__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__button__text {
  transform: rotate(10deg);
  padding-right: 20px;
}
.button__box__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 65px;
  position: absolute;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  color: #9285b0;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 62px;
  padding-left: 16px;
}
.button__icon {
  width: 24px;
  height: 24px;
}
.header__link {
  color: #302a3e;
}
